[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
bs4 = "*"
lxml = "*"
aiohttp = {extras = ["speedups"],version = "*"}
requests = "*"

[packages]
mkdocs-material = {editable = true,git = "https://github.com/roy-n-roy/mkdocs-material.git",ref = "edit"}
mkdocs-minify-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[requires]
python_version = "3.8"
